.card-header, .card-body {
    background-color:  rgb(254, 239, 138);
}

div.card-header {
    background-color: gold;
}

.table {
    background-color: rgb(255, 230, 68);
}

#HomePageBody {
    background-color: rgb(212, 244, 255);
    padding-bottom: 300px;
}

h1 {
    padding: 40px 0 40px 0;
}

#LeaderBoard {
    margin: 1rem;
    background-color: lightgreen;
}
